@charset "utf-8";
/* CSS Document */

.button{

border: 1px solid #9EB7CD;
border-bottom-color: #9EB7CD;
border-top-color: #C4D1DB;
border-left-color: #C4D1DB;
-moz-border-radius:1px;
-webkit-border-radius:1px;
 border-radius:1px;
background-image:url(../images/glossyback.gif);
background-repeat:repeat-x;
padding-left:0px;
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:black;

}
