/* CSS Document */

.tabla {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-align: center;
width: 600px;
padding: 0px;
margin:10px;
border:3px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;
}

 .tabla th {
padding: 5px;
font-size: 14px;
background-color: #83aec0;
background-image: url(fondo_th.png);
background-repeat: repeat-x;
color: #FFFFFF;
border-right:2px solid black;
border-bottom:2px solid black;


font-family: "Trebuchet MS", Arial;

/*text-transform: uppercase;*/

}
.tabla .modo1 {
font-size: 12px;
font-weight:bold;
background-color: #e2ebef;
background-image: url(fondo_tr01.png);
background-repeat: repeat-x;
color: #34484E;
font:Arial, Helvetica, sans-serif;

}